@{
    ViewData["Title"] = "Home Page";
}


<div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row">

    <div class="col-md-3">
        <h2>Configuration</h2>
        <ul>
            <li><a href="@Url.RouteUrl("IndexConfigurations")">Edit workflow's configurations</a><br /></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Development</h2>
        <ul>
            <li><a href="@Url.RouteUrl("ApiEnvironmentGetAllRoutes")">registred routes</a></li>
            <li><a href=".\swagger">Swaggers</a><br /></li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
        </ul>
    </div>
</div>
