@model Bb.Core.Documents.CompiledConfiguration

@{

    var ctx = ViewData.Resolve<ConfigurationModelContext>();
    await Html.RenderPartialAsync(@"TreeConfiguration.cshtml", ViewData);

    bool valid = @Model?.Valid ?? false;
    var checks = @Model?.Diagnostics;

}

<h2>Compilation result for the domain @Model?.Domain, version @Model?.Version </h2>

<div class="col-md-8">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (!valid)
    {
        <div>Failed to compile configuration</div>
    }
    else
    {
        <div>Successfull to compile configuration</div>
    }

    @if (checks != null)
    {
        @foreach (var item in checks)
        {
            <div>
                <div>
                    <b>@item.Severity</b>&nbsp;@item.ToString()
                </div>
            </div>
        }
    }


</div>

